<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <!--２つのCSSの読み込み（同ディレクトリ内）-->
    <link rel="stylesheet" href="normalize.css"/>
    <link rel="stylesheet" href="style.css"/>
</head>

<body>
    <div id = "wrapper">
        <div id = "upper">
        <h1>My Todo</h1>
        <!--タブ Begin-->
        <div id="tab">
            <div class="tab-list"
            v-bind:class="{'-active':filter === 'inbox'}">
            <button v-on:click="setFilter('inbox')">インボックス</button></div>
            <div class="tab-list"
            v-bind:class="{'-active':filter === 'completed'}"
            ><button v-on:click="setFilter('completed')">完了したタスク</button></div>
        </div>
        </div>  
        <!--タブ End-->
        <!--Todo入力フォーム Begin-->
        <form id="input-form" v-on:submit.prevent="handleSubmit">
            <div class="input-text">
                <label for="input-text">Todo</label>
                <input
                 type="text"
                 id="input-text"
                 name="todo-text"
                 placeholder="牛乳を買う"
                v-model="text"
                 />
            </div>
            <div class="submit">
                <button type="submit" v-bind:disabled="disabled">登録</button>
            </div>
        </form>
        <!--Todo入力フォーム End-->
        <!--Todoリスト Begin-->
        <table id="todo-table">
            <tbody id="todo-main">
                <tr v-for="todo in filteredTodos" v-bind:key="todo.id">
                <td class="cell-done">
                    <label v-bind:class="{'-active':todo.done}">
                    <input type="checkbox" v-model="todo.done" /></label></td>
                <td class="cell-text" v-if="todo.isEditing"><input v-model="todo.text" />
                <button v-on:click="saveTodo(todo.id)">保存</button>
                </td>
                <td class="cell-text" v-else v-on:click= "editTodo(todo.id)">{{ todo.text }}</td>
                <td class="cell-created-at">{{ formatDate(todo.createdAt) }}</td>
                </tr>
            </tbody>
        </table>
        <!--Todoリスト End-->

        </div>
        <!--vue.jsの読み込み-->
        <script src = "https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <script src = "VueTodo.js"></script>
</body>

</html>